.volume-control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 120px;
}

.volume-slider {
  flex: 1;
}

.controls-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

@media (width <= 768px) {
  .volume-control {
    display: none;
  }
}
